<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/headerLogueado') %>
		<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos:</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form method="post">
							<div>
								<input id="imagen" type="file" name="fotoProducto" value="" placeholder="Imagen">
							</div>
							<br>
							<div>
								<input id="nombre" type="text" name="nombre" value="" placeholder="Nombre del producto">
							</div>
							<br>
							<div>
								<input id="descripción" type="text" name="descripción" value="" placeholder="Descripción del producto">
							</div>
							<br>
							<div>
								<input type="hidden" name="id" value="<%= productos.id %>">
							</div>
							<div>
								<button type="submit">Enviar</button>
							</div>
						</form>
					</h2>

					<!-- footer -->
					<%- include('./partials/footer') %>
					<!-- /footer -->
	</body>

</html>